label {
  color: #333;

}

h2 {
  color: #dadada;
  font-weight: bold;
  text-shadow: -1px -1px 1px #000;
}

a, a:hover, a:visited {
  outline: none;
  text-decoration: none;

  &.disabled {
    opacity: .2;
    pointer-events: none;
    cursor: default;
  }
}