<html>
<link rel="import" href="../../../vendor/polymer/polymer.html">

<polymer-element name="test-element" attributes="name">
    <template>
        <span>Hello from <b>{{name}}</b>. <content></content></span>
    </template>
    <script>
        require(['app/elements/test-element'], function(testElement) {
            testElement.init();
        });
    </script>
</polymer-element>